@import "tailwindcss";

@layer base {
  body {
    @apply bg-[rgb(22,23,24)] text-[rgb(252,252,252)]  overflow-x-hidden overflow-y-hidden;
    cursor: url(./assets/cursor.svg) 2 2, auto;
  }
}

a, button {
cursor: url(./assets/pointer2.svg) 4 2, pointer;
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
  --color-background: rgb(22,22,24);
  --color-secondary: rgb(37,38,40);
  --color-primary: rgb(252,252,252);
}


/* .dark {
  --color-background: #1e2939;
  --color-primary: #ffffff
} */

/* @layer base {
  a {
    @apply text-pink-400
  }
} */

@layer components {
  .btn {
    @apply inline-block rounded bg-primary px-6 py-2 text-background transition hover:opacity-80;
  }
}
/* 
  .btn-outline {
    @apply inline-block rounded border border-primary px-6 py-2 text-primary transition hover:bg-primary hover:text-background;
  }
}

@layer utilities {
  .brder-red {
    @apply border border-b-emerald-500
  }
} */